<configuration>
  <system.runtime.remoting>
    <application name="Server">
      <service>
        <wellknown
          mode="SingleCall"
          type="Order, Order"
          objectUri="Order" />
      </service>
      <channels>
        <channel ref="tcp server" port="9000" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
