<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netMsmqBinding>
                <binding name="SupervisorQueueBinding">
                    <security mode="None" />
                </binding>
            </netMsmqBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="SupervisorOpsBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="SupervisorOpsBehavior" name="Supervisor.SupervisorOps">
                <endpoint address="" binding="netMsmqBinding" bindingConfiguration="SupervisorQueueBinding"
                    name="QueueEndpoint" contract="Supervisor.ISupervisorOps" />
                <endpoint address="mex" binding="mexHttpBinding" name="MexEndpoint"
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/Supervisor/" />
                        <add baseAddress="net.msmq://localhost/private/Supervisor" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
