<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
          type="RemObj, RemObj"
          url="tcp://localhost:9000/Server/RemObj"
        />
      </client>
      <channels>
        <channel ref="tcp client" />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
