<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BankB" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=BankB;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding" transactionFlow="true">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="BankBBehavior" name="BankB.BankBOps">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="TcpBinding"
          name="TcpOps" contract="BankB.IBankBOps" />
        <endpoint address="mex" binding="mexHttpBinding" name="MetaData"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8701/BankB/" />
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/BankB/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="BankBBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
